<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="post" th:action="@{/admin/new}" th:object="${userForm}">
    <!--    <input type="hidden" th:field="*{id}" id="id"/>-->
    <label for="userName">Enter Username: </label>
    <br/>
    <input type="text" th:field="*{name}" id="username"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>

    <label for="profession">Enter Profession: </label>
    <br/>
    <input type="text" th:field="*{profession}" id="profession"/>
    <div th:if="${#fields.hasErrors('profession')}" th:errors="*{profession}">profession error</div>
    <br/>
    <label for="password">Enter Password: </label>
    <br/>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="OK"/>
</form>
</br>
<input type="button" value="Return to AdminPage"
       onclick="window.location.href = '/admin'"/>
<br>
<br>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>

</body>
</html>